button {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.sudoku-circle {
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #60a3bc;
	padding: 20px;
	border-radius: 50px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}

.sudoku-circle:hover {
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

.sudoku-menu {
	width: 50%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.sudoku-menu button {
	font-size: 20px;
	margin: 10px;
	padding: 5px;
}

.sudoku-container {
	margin-left: auto;
	margin-right: auto;
}

.sudoku-container td {
	margin: 0;
}

.sudoku-container input {
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 20px;
	padding: 0;
	border: 1px #ccc solid;
	background: transparent;
}

.sudoku-container .sudoku-input-error {
	background: #ffc9d7;
}

.sudoku-container.valid-matrix {
	border: 5px solid #7edb37;
}

.sudoku-section-one {
	background: #ccc;
	padding: 10%;
	width: 48px;
	height: 48px;
}

.sudoku-section-two {
	padding: 10%;
	width: 48px !important;
	height: 48px !important;
}